::-webkit-scrollbar {
    width: 5px; 
    height: auto;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
    /* outline: 1px solid #1e202a; */
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0);
  }